@import "../../style/index";
.list-button {
  height: 90px;
  background: url("../../images/Group-174.svg") no-repeat center top;
  width: 100%;
  padding-top: 100px;
  
  .list-button__selected {
    font-size: 20px;
    color: #FFFFFF;
  }
}
.list-button__slide {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  
  &.list-button__slide--active {
    animation: slideEnter 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) both;
  }
}




